<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- 通过注解的方式SpringMvc应用
		1.添加命名空间
		2.添加Spring aop的jar包
		3.指定需要扫描的包
	 -->
	<context:component-scan base-package="com.controller" />
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	
	<!-- 配置处理器Handle 映射‘/firstController’   加载什么类
	<bean name="/firstController" class="com.controller.FirstController" />-->
	
	<!-- 处理器映射器 
	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" />-->
	<!-- 处理器适配器       加载类中的什么方法
	<bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" />-->
	<!-- 视图解析器
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" /> -->
	
	
</beans>
